/* CSS for XML styling */
@namespace x url(http://alerge.ny/alergeny);

jidelnicek {
  background-color: #fff2cc;
  font-family: ‘Allerta Stencil’
  
}

[id^="od"] {
  margin-bottom: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

tyden {
padding-bottom: 50px;	
  background-color : #92a8d1;
  color: #fff2cc;
  display: block;
  text-align: center;
  counter-reset: cc;
  #font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;

  
  
}
tyden::after{content: "\a";white-space: pre;}
tyden::before{content: "\a";white-space: pre;}

den::before{
  
  color: #92a8d1;
  background-color : #fff2cc;
  font-weight: bold;
  counter-increment: cc;
  content: "\A" counter(cc) ". ";
  #white-space: pre;
}


den {
  padding-top: 50px;
  counter-reset: cccc;
  color: #92a8d1;
  background-color : #fff2cc;
  #color: #fff2cc;
  display: block;
  text-align: center;
  font-size: 50px;
}

Pondìlí, Úterý, Støeda, Ètvrtek, Pátek {

}

Pondìlí:before, Úterý:before, Støeda:before, Ètvrtek:before, Pátek:before {
  content: counter(menuCounter) ". ";
  counter-increment: menuCounter;
  font-weight: bold;
  content: "\a";
  white-space: pre;
}


typ_jidla {
padding-bottom: 50px;	
  color: #fff2cc;
  background-color : #92a8d1;
  font-family: ‘Allerta Stencil’;
  font-weight: bold;
  font-size: 40px;
  #color: #92a8d1;
  display: block;
  text-align: center;
  
}

typ_jidla::before{content: "\a";white-space: pre;}
typ_jidla::after{content: "\a";white-space: pre;}

hj1::before,hj2::before,hj3::before,hj4::before,hj5::before{
  content: "\a";
  white-space: pre;
  counter-increment: cccc;
  content: "\A" counter(cccc) ". ";
  white-space: pre;}
  
p1::before{
  content: "\a";
  white-space: pre;
}  
hj1,hj2,hj3,hj4,hj5,p1 {
  display: block;
  text-align: center;
  font-size: 20px;
  background-color : #fff2cc;
  #border: 1px solid #ccc;
  #border-radius: 5px;
  #padding: 10px;
  line-height: 2;
  font-family: Arial, sans-serif;
  color: #92a8d1;
  #border-style: dotted;
}

hj1:hover,hj2:hover,hj3:hover,hj4:hover,hj5:hover,p1:hover{
  background-color: #92a8d1;
  color: #fff2cc;
  border-style: dotted;
}



cena {
  font-size: 20px;
  display: block;
  text-align: center;
  
}

x|alergen, porce {
  font-size: 12px;
  display: block;
  text-align: center;
}



